.registration-input-fields-container {
}
.button-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  max-width: 15rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 10vh;
  flex-direction: column;
}
