<ion-content [fullscreen]="true">
    <div class="content-container">
        <form class="form " role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
            <div class="form-container">
                <h1 class="pl-15">Reset password</h1>
                <div class="content-max-width align-center">
                    <ion-item>
                        <ion-label position="floating">Email</ion-label>
                        <ion-input type="email" formControlName="email"></ion-input>
                    </ion-item>
                    <div class="alert alert-success" *ngIf="success">
                        <span>Check your emails for details on how to reset your password.</span>
                    </div>
                </div>

            </div>
            <div class="button-container">
                <button class="bonly-ui-button" type="submit">
                    Request reset
                </button>
                <button class="bonly-ui-button" type="button" (click)="backToHomePage()">
                    Back
                </button>
            </div>
        </form>
    </div>
</ion-content>
