<ion-content [fullscreen]="true">
    <jhi-bubble-backend></jhi-bubble-backend>
    <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="form-container content-max-width align-center">
            <h1 class="pl-15">Log in</h1>
            <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input formControlName="username"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <div class="pl-15 pr-15 pt-15">
                <div class="alert alert-danger" *ngIf="authenticationError">
                    <strong>Failed to sign in!</strong> Please check your credentials and try again.
                </div>
            </div>
        </div>

        <div class="button-container">
            <button class="bonly-ui-button" (click)="login()">
                Login
            </button>
            <button class="bonly-ui-button" (click)="backToHomePage()">
                Back
            </button>
        </div>
    </form>
</ion-content>
