<ion-content [fullscreen]="true">
    <div>

        <form class="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
            <div class="form-container">
                <h1 class="pl-15">Reset password</h1>
                <div *ngIf="key && !success" class="content-max-width align-center">
                    <ion-item>
                        <ion-label position="floating">New password</ion-label>
                        <ion-input type="password" formControlName="newPassword"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">New password confirmation</ion-label>
                        <ion-input type="password" formControlName="confirmPassword"></ion-input>
                    </ion-item>
                </div>
                <div class="error-message-container pl-20 mt-20">
                    <div class="error-message-container--inner">
                        <div class="alert alert-danger" *ngIf="initialized && !key">
                            <strong>The password reset key is missing.</strong>
                        </div>

                        <div class="alert alert-danger" *ngIf="error">
                            <span>Your password couldn't be reset. Remember a password request is only valid for 24 hours.</span>
                        </div>
                        <div class="alert alert-success" *ngIf="success">
                            <span><strong>Your password has been reset.</strong> Please </span>
                            <a class="alert-link" (click)="login()">sign in</a>.
                        </div>
                        <div class="alert alert-danger" *ngIf="doNotMatch">
                            The password and its confirmation do not match!
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button class="bonly-ui-button" type="submit">
                    Reset password
                </button>
                <button class="bonly-ui-button" type="button" (click)="backToHomePage()">
                    Back
                </button>
            </div>
        </form>
    </div>
</ion-content>
