.bonly-logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15vh;
}

.logo {
  width: 100%;
  max-width: 20rem;
}

@media only screen and (max-height: 600px) {
  .logo {
    max-width: 20rem;
    width: 10rem;
  }
}

@media only screen and (max-height: 475px) {
  .logo {
    max-width: 20rem;
    width: 5rem;
  }
}

.bonly-logo {
  font-size: 9rem;
  height: 20rem;
  color: var(--logo-color);
  font-family: Rubik Mono One, Montserrat, 'Helvetica Neue', sans-serif;
  font-weight: 400;
  display: block;
  font-style: normal;
}


.button-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  max-width: 15rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 10vh;
  flex-direction: column;
}
