<ion-content [fullscreen]="true">
    <jhi-bubble-backend></jhi-bubble-backend>
    <div>
        <div class="text-center bonly-logo-container">
            <span class="bonly-logo">B</span>
            <span class="bonly-text">BONLY</span>
        </div>
        <div class="button-container">
            <button class="bonly-ui-button" (click)="login()">
                Sign in
            </button>
            <button class="bonly-ui-button" (click)="register()">
                Register a new account
            </button>
            <button class="bonly-ui-button" (click)="forgotPassword()">
                Forgot password
            </button>
        </div>
    </div>
</ion-content>
