<ion-content [fullscreen]="true">
    <jhi-bubble-backend></jhi-bubble-backend>
    <div>
        <div class="text-center bonly-logo-container">
            <img class="logo" src="assets/logo_medium.svg" alt="Bonly logo">
        </div>
        <div class="button-container">
            <button class="bonly-ui-button" (click)="login()">
                Sign in
            </button>
            <button class="bonly-ui-button" (click)="register()">
                Register a new account
            </button>
            <button class="bonly-ui-button" (click)="forgotPassword()">
                Forgot password
            </button>
        </div>
    </div>
</ion-content>
