<ion-content [fullscreen]="true">
    <div *ngIf="adExist && advertisement" class="fade-in">
        <h6 class="pl-20 pt-20">{{advertisement?.question}}</h6>
        <ion-card class="bonly-image-content">
            <ion-img src="{{advertisement?.image}}">
            </ion-img>
        </ion-card>
        <div class="grid-container" id="grid-container">
            <button class=" flex-item"
                    [ngClass]="{'correct-answer': answer?.correct && answerSubmitted,
                    'incorrect-answer': answerSubmitted && !answer?.correct}"
                    (click)="chooseAnswer(advertisement, answer)"
                    *ngFor="let answer of advertisement?.advertisementAnswers">
                {{answer.answer}}
            </button>
        </div>
    </div>
    <div *ngIf="!adExist">
        <div class="text-center center-small-text">
            <p class="text-bold">Oops!</p>
            <p class="text-bold">No more ads to show :(</p>
            <p>Try again later</p>
        </div>
    </div>
</ion-content>
